*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
:root{
    --Header-bck: #4d5c67;
    --font-white: #ffffff;
}
body{
    background-color: orange;
}
@font-face {
    src: url("/assets/fonts/Pacifico-Regular.ttf");
    font-family: Pacifico;
}
.Apptestico-logo{
    font-family: Pacifico;
    font-size: 2rem;
}
header{
    color: var(--font-white);
    background-color:var(--Header-bck) ;
}
