*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
:root{
    --Header-bck: #4d5c67;
    --font-white: #ffffff;
}
body{
    background-color: orange;
}
@font-face {
    src: url("/assets/fonts/Pacifico-Regular.ttf");
    font-family: Pacifico;
}
.Apptestico-logo{
    font-family: Pacifico;
    font-size: 2rem;
    /* border: 2px solid red; */
}
header{
    color: var(--font-white);
    background-color:var(--Header-bck) ;
}
nav a, li{
    text-decoration: none;
    color: inherit;
    list-style: none;

}
nav{
    display: flex;
    justify-content: space-between;
    /* border: 2px solid red; */
    padding: 1em 5em;
    




}
nav ul{
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 45%;
    /* border: 2px solid red; */

}
.phone-and-text-container{
    display: flex;
    justify-content: space-around;
}
.phone-and-text-container .content{
    width: 50%;
    /* border: 2px solid red; */
}
